<div ng-click="$event.stopPropagation()" ng-keypress="onKeyPress($event)">
    <textarea ng-model="noteText"></textarea>
    <div class="clearfix"></div>
    <button ng-disabled="noteText.length == 0" ng-click="saveChanges()({note: noteText, xcoord: xcoord, ycoord: ycoord})">{{ trans('savechanges') }}</button>
    <button ng-click="stopAdding()(false); disappear();">{{ trans('cancel') }}</button>
</div>
