<div>
    <span class="userpicture" ng-bind-html="note.userpicture"></span>
    <div>
        <div ng-show="isEditing" class="input">
            <textarea ng-model="note.note"></textarea>
            <div class="clearfix"></div>
            <button ng-disabled="note.note.length == 0" ng-click="saveChanges({ id: note.id, note: note.note, xcoord: note.xcoord, ycoord: note.ycoord })">{{ trans('savechanges') }}</button>
            <button ng-click="stopEditing()">{{ trans('cancel') }}</button>
            <button ng-click="deleteNote(note.id)">{{ trans('delete') }}</button>
        </div>
        <div ng-hide="isEditing" class="output">
            <span class="username" ng-bind="note.userfullname"></span>
            <span class="note" ng-bind-html="note.note | linky:'_blank'"></span>
        </div>
    </div>
</div>