<div>
    <span class="userpicture" ng-bind-html="note.userpicture"></span>
    <div>
        <div ng-show="editingId === note.id" ng-keypress="onKeyPress($event)" ng-class="{'disabled': editingDisabled}" class="input">
            <textarea ng-model="note.note"></textarea>
            <div class="clearfix"></div>
            <button ng-disabled="note.note.length == 0" ng-click="saveChanges()({id: note.id, note: note.note}, $event)">{{ trans('savechanges') }}</button>
            <button ng-click="note.note = initialNoteText; stopEditing()($event)">{{ trans('cancel') }}</button>
            <button ng-click="deleteNote()(note.id, $event)">{{ trans('delete') }}</button>
        </div>
        <div ng-show="editingId !== note.id" class="output">
            <a ng-show="(note.is_owner && !closed) || canManage" href="javascript:;">
                <span class="username" ng-bind="note.userfullname"></span>
                <span class="note" ng-bind-html="note.note | linky:'_blank'"></span>
            </a>
            <span ng-show="!((note.is_owner && !closed) || canManage)" class="username" ng-bind="note.userfullname"></span>
            <span ng-show="!((note.is_owner && !closed) || canManage)" class="note" ng-bind-html="note.note | linky:'_blank'"></span>
        </div>
    </div>
</div>
